#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button-like {
  border: 1px solid;
  padding-inline: 6px;
}

.button-like:hover {
  background-color: #413737;
  color: rgb(163, 227, 99);
}

.file-selector__dropzone {
  position: relative;

  padding: 20px;
  border: 4px dotted white;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-selector__dropzone:hover,
.file-selector__dropzone--highlight {
  background-color: #413737;
}

.file-selector__dropzone--hidden {
  display: none;
}

.file-selector__icon {
  width: 80px;
}

.file-selector__input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  inset: 0;
}

.file-selector__select-button {
  font-weight: bold;
  color: chartreuse;
  cursor: pointer;
}

.file-selector__display-wrapper {
  display: flex;
  flex-direction: column;
}

.file-selector__file-description {
  display: flex;
  align-items: center;
}

.file-selector__clear-file {
  margin-inline: 10px;
  border-radius: 100%;
  border: 1px solid white;
  padding: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.file-selector__file-error {
  text-align: left;
  color: rgb(250, 120, 176);
}
